/*
* Light Blue =  #1AB7EA;
* Blue hex = #35465d;
* White = #FFFFFF;
* Black = #000000;
*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: #FFFFFF;
}
/* COLORS */
.primary-color {
    color: #1AB7EA;
}
.primary-background {
    background-color: #1AB7EA;
}
.secondary-color {
    color: #35465d;
}
.secondary-background {
    background-color: #35465d;
}
/* Navigation */
.nav-link {
    color: #FFF !important;
}
.nav-link:hover {
    color: #CCC !important;
    transition: 0.5s;
}
.left-divider {
    border-left: 2px solid black;
}
/* for listing users*/
.scrollable-menu {
    height: auto;
    max-height: 150px;
    overflow-x: hidden;
}
/* hide left divider for small devices */
@media screen and (max-width: 770px) {
  .left-divider {
    border-left: none;
  }
}
/* end responsive*/
.nav-profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.nav-icons {
    font-size: 1.8em;
    margin: 5px;
}
/* Pages/index/-Home Page for news fed */
.post-card {
    border-bottom: #162221;
}
.border-strong {
    border-bottom: 3px solid #1AB7EA;
}
textarea {
    resize: none;
}
/* Register/index - registration page*/
.right-divider {
    border-right: 3px solid #CCC;
}
.input-group-prepend span{
width: 50px;
background-color: #35465d;
color: #FFF;
border:0 !important;
}
input:focus, select:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;
}

/*PROFILE*/
.cover-img {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.media-profile{
    width: 64px !important;
    height: 64px !important;
}
/*comments*/
.more {
    display: none;
}
.comment-profile-pic {
    width: 50px !important;
    height: 50px !important;
}
/* FOR larg screen */
@media screen and (min-width: 1000px) {
 .profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: relative;
    top: 100px;
}
.text-pic {
   position: relative;
    top: 135px; 
}
}
/* FOR medium screen */
@media screen and (max-width: 999px) and (min-width: 880px) {
 .profile-pic {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    position: relative;
    top: 100px;
}
.text-pic {
   position: relative;
    top: 135px; 
}
}
/* FOR small screen */
@media screen and (max-width: 879px) {
 .profile-pic {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: relative;
    top: 100px;
}
.text-pic {
   position: relative;
    top: 135px; 
    font-size: 20px !important;
}
}
/* Search Fix*/
.search-img, .friendRequest-img {
    width: 50px !important;
    height: 50px !important;
    border-radius: 50% !important;
    border: 3px solid #1AB7EA;
}
/*Home Page Posts*/
.post-profile-pic
{
    width: 85px;
    height: 85px;
}
/* MESSENGER */
.chatbox {
    height: 70%;
    overflow: auto;
}