/*
* Light Blue =  #1AB7EA;
* Blue hex = #35465d;
* White = #FFFFFF;
* Black = #000000;
*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: #FFFFFF;
}
/* COLORS */
.primary-color {
    color: #1AB7EA;
}
.primary-background {
    background-color: #1AB7EA;
}
.secondary-color {
    color: #35465d;
}
.secondary-background {
    background-color: #35465d;
}
/* Navigation */
.nav-link {
    color: #FFF !important;
}
.nav-link:hover {
    color: #CCC !important;
    transition: 0.5s;
}
.dropdown {
    border-left: 2px solid black;
}
.nav-profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.nav-icons {
    font-size: 1.8em;
    margin: 5px;
}
/* Pages/index/-Home Page for news fed */
.post-card {
    border-bottom: #162221;
}
.border-strong {
    border-bottom: 3px solid #1AB7EA;
}
textarea {
    resize: none;
}
/* Register/index - registration page*/
.right-divider {
    border-right: 3px solid #CCC;
}
